<div class="navbar-bg">
  <div class="navbardiv">
    <header>
      <nav class="navbar">
        <ul>
          <li>
            <a routerLink="/winner-http-service" routerLinkActive="active"
              >Winners of last season</a
            >
          </li>
          <li>
            <a routerLink="/racewinners" routerLinkActive="active"
              >Who won races in what year?</a
            >
          </li>
          <li>
            <a routerLink="/teamside" routerLinkActive="active">Test page</a>
          </li>
        </ul>
      </nav>
    </header>
  </div>
</div>
