<div class="team-section">
  <div class="person">
    <img src="../../assets/Images/photo1.jpg" alt="" class="person-pic" />
    <div class="person-info">
      <h2>Person Name</h2>
      <p>Occupation</p>

      <div class="socialmedia">
        <a href="#"><fa-icon [icon]="faFacebookF"></fa-icon></a>
        <a href="#"><fa-icon [icon]="faTwitter"></fa-icon></a>
        <a href="#"><fa-icon [icon]="faInstagram"></fa-icon></a>
        <a href="#"><fa-icon [icon]="faLinkedinIn"></fa-icon></a>
      </div>
    </div>
  </div>

  <div class="person">
    <img src="../../assets/Images/photo2.jpg" alt="" class="person-pic" />
    <div class="person-info">
      <h2>Person Name</h2>
      <p>Occupation</p>

      <div class="socialmedia">
        <a href="#"><fa-icon [icon]="faFacebookF"></fa-icon></a>
        <a href="#"><fa-icon [icon]="faTwitter"></fa-icon></a>
        <a href="#"><fa-icon [icon]="faInstagram"></fa-icon></a>
        <a href="#"><fa-icon [icon]="faLinkedinIn"></fa-icon></a>
      </div>
    </div>
  </div>

  <div class="person">
    <img src="../../assets/Images/photo3.jpg" alt="" class="person-pic" />
    <div class="person-info">
      <h2>Person Name</h2>
      <p>Occupation</p>

      <div class="socialmedia">
        <a href="#"><fa-icon [icon]="faFacebookF"></fa-icon></a>
        <a href="#"><fa-icon [icon]="faTwitter"></fa-icon></a>
        <a href="#"><fa-icon [icon]="faInstagram"></fa-icon></a>
        <a href="#"><fa-icon [icon]="faLinkedinIn"></fa-icon></a>
      </div>
    </div>
  </div>

  <div class="person">
    <img src="../../assets/Images/photo4.jpg" alt="" class="person-pic" />
    <div class="person-info">
      <h2>Person Name</h2>
      <p>Occupation</p>
    
    <div class="socialmedia">
      <a href="#"><fa-icon [icon]="faFacebookF"></fa-icon></a>
      <a href="#"><fa-icon [icon]="faTwitter"></fa-icon></a>
      <a href="#"><fa-icon [icon]="faInstagram"></fa-icon></a>
      <a href="#"><fa-icon [icon]="faLinkedinIn"></fa-icon></a>
    </div>
  </div>
  </div>
</div>
